.container {
    display: block;
    background-color: black;
    padding: 15px;
}

.content {
    display: block;
    width: 100%;
}

#github-ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.unclickable {
    z-index: 1;
}
